<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <div class="col justify-content-center">
      <div class = "text-center"><h1>BIENVENUE!</h1></div>
      <br /> 
      <div class = "text-center"><h4> Tu peux choisir de créer un nouveau potin : </h4></div>
      <div class = "text-center"><a href="<%= new_gossip_path %>" class="btn btn-dark">Nouveau Potin !</a></div>
      <br /> <br />
      <div class = "text-center"><h4> Voici la liste actuelle des potins : </h4></div>
    </div>
    <div class="container-potin row justify-content-center">
      <% id_potin = 1%>
      <% @gossips.each do |gossip| %>
        <div class="card mt-2 text-center" style="width: 20rem;">
          <h6 class="card-header"><%= User.find_by(id:gossip.user_id).first_name %></h6>
          <div class="card-body">
            <h6 class="card-title"><%= gossip.content %></h6>
            <a href="<%= gossip_path(gossip.id) %>" class="btn btn-primary">Gossip n° <%=id_potin%></a>
          </div>
        </div>
        <% id_potin += 1%>
      <% end %>
    </div>


  </body>
</html>
