<!DOCTYPE html>
<html>
  <head>
    <title>TheGossipProject2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%-#bootstrap css%>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>

  <body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="/">The Gossip Project</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="/team">La team</a></li>
          <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>  
       </ul>
     </div>  
    </nav>
    <div class="container">
    <% flash.each do |type, msg| %>
      <div class="alert <%= bootstrap_class_for_flash(type) %> alert-dismissable fade show">
        <%= msg %>
      </div>
    <% end %> 
  </div>

    <%= yield %>  
  </body>
</html>
